@media only screen

/* and (min-device-width : 375px)  */
and (max-device-width : 812px) {

    /* and (-webkit-device-pixel-ratio : 3)  */
    /* Hier dein CSS einifügen */
    .main {
        /* width: 100vw; */
        height: 100vh;

        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 0fr 1fr 0fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            ". content .";
    }
}